<article class="w-25 pa3 mr2 center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
  <h1 class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3"><a class="navy dim" href="$tagurl$">$name$</a></h1>
  <div class="pa3 bt b--black-10">
    <p class="f6 f5-ns lh-copy measure">
      My single braincell working overtime. Here is an assortment of small notes I take in no particular order.
      Nothing here is to be taken as a well researched or well written post. But maybe there's something in here for you as well.
    </p>
  </div>
</article>
$body$
