<section id="bio">
  <section id="img-wrapper">
    <img src="https://avatars2.githubusercontent.com/u/11161?s=460&u=0cbe4fd6b5a3655d91b3eb86db834d0829a0c086&v=4" alt="" />
  </section>
  <section id="bio-wrapper">
    <div id="text-wrapper">This is my digital garden of my various interests.</div>
    <div id="social-wrapper">
      $for(contacts)$
      <a href="$target$" target="_blank">
        <img src="/icons/$title$.png" alt="" />
      </a>
      $endfor$
    </div>
  </section>
</section>
